body {
    background-color: darkslategray;
    color: white;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 50%;
    margin-top: 15px;
}

textarea {
    width: 50%;
}

.submitButton {
    width: 25%;
    height: 50px;
    margin-top: 15px;
}


.resultsDisplayContainer {
    margin-top: 15px;
    width: 50%;
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

/*.displayResultsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
}*/

.resultsDisplay {
    margin-top: 20px;
}

.listAndMeasureContainer {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.resultsListContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.resultsList {
    flex-flow: column;
}

.displayReduction {
    display: none;
    font-size: 25px;
    margin-bottom: 25px;
    flex-flow: row;
}

.gaugeImageContainer {
    display: none;
    width: 50%;
    margin-top:30px;
    margin-bottom: 30px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.gaugeImageContainer img {
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
}