body {
    background-image: url("media/bkgd/newsroom.jpg");
    color: white;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    display: flex;
    font-family: 'Playball', cursive;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-shadow: 4px 4px 2px black, 2px 2px 2px black, 6px 6px 2px black;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.textForm textarea {
    margin-top: 15px;
    width: 50%;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.textForm span {
    font-size: 25px;
    text-shadow: 4px 4px 2px black, 2px 2px 2px black, 6px 6px 2px black;
}

.submitButton {
    width: 25%;
    height: 50px;
    margin-top: 25px;
    box-shadow: 3px 5px rgb(122,112,102);
    font-family: 'Playball', cursive;
    font-size: 25px;
}


.resultsDisplayContainer {
    margin-top: 15px;
    width: 50%;
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}


.resultsDisplay {
    display: none;
    padding: 20px;
    background-image: url("media/bkgd/cardboard.png");
    border: solid 6px rgb(122,112,102);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listAndMeasureContainer {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.resultsListContainer {
    width: 50%;
    display: none;
    flex-flow: column;
    align-items: center;
    padding: 30px;
    background-image: url("media/bkgd/cardboard.png");
    border: solid 6px rgb(122,112,102);
    border-right: solid 3px rgb(122,112,102);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.noLinksTitle {
    display: none;
    margin-top: 0;
}

.yesLinksTitle {
    display: none;
    margin-top: 0;
}

.resultsList {
    flex-flow: column;
}

.displayReduction {
    display: none;
    font-size: 25px;
    flex-flow: row;
    margin: 15px 0px;
    text-shadow: 4px 4px 2px black, 2px 2px 2px black, 6px 6px 2px black;
}

.gaugeImageContainer {
    display: none;
    width: 50%;
    padding: 30px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url("media/bkgd/cardboard.png");
    border: solid 6px rgb(122,112,102);
    border-left: solid 3px rgb(122,112,102);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gaugeImageContainer h2 {
    margin-top: 0;
}

.gaugeImageContainer img {
    max-height: 150px;
    width: auto;
    margin-bottom: 15px;
}

.analyzeAnotherArticleButton {
    display: none;
    margin-bottom: 25px;
    width: 50%;
    height: 50px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px rgb(122,112,102);
    font-family: 'Playball', cursive;
    font-size: 25px;
}